<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="0x41's bot Dashboard !">
    <meta name="author" content="Ghostfighter50">

    <title><%=client.user.username%></title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f0d730ee5.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/profile"><%=status%></a>
            </li>
            <%if(login === 'yes') {%>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-dark text-light text-center" style="padding-top: 65px;">
        <div class="p-5">
            <div class="container">
                <h1 class="mb-3">Bot Commands</h1>
            </div>
        </div>
    </div>
    
    <div class="container" style="padding-top: 20px; padding-bottom: 20px;" >
    <br><br>
<div class="text-light" style="background-color: black;" ><br><br><center><h1>General</h1></center><br><br></div>
    <table class="table bg-light text-dark rounded border border-dark" style="border-color : black;">
        <thead class="thead text-center text-light mdb-color lighten-1 lighten-1">
            <tr>
              <th style="font-size: 20px; color: black" scope="col">Name</th>
              <th style="font-size: 20px; color: black" scope="col">Informations</th>
            </tr>
          </thead>
          <tbody>
              <% client.commands.filter(c => c.type == "gen").forEach(command => { %>
            <tr class="text-center">
                <td style="font-size: 20px; color: black"><%= command.name %></td>
                <td style="font-size: 20px; color: black"><%= command.description %><br> <b>Usage : </b><span><u><%= command.usage %></u></span></td>
            </tr>
            <% }) %>                           
          </tbody>
      </table>
      
        <br><br>
<div class="text-light" style="background-color: black;" ><br><br><center><h1>Moderation</h1></center><br><br></div>
        <table class="table bg-light text-dark rounded border border-dark" style="border-color : black;">
            <thead class="thead text-center text-light mdb-color lighten-1 lighten-1">
                <tr>
                  <th style="font-size: 20px; color: black" scope="col">Name</th>
                  <th style="font-size: 20px; color: black" scope="col">Informations</th>
                </tr>
              </thead>
              <tbody>
                  <% client.commands.filter(c => c.type == "mod").forEach(command => { %>
                <tr class="text-center">
                    <td style="font-size: 20px; color: black"><%= command.name %></td>
                    <td style="font-size: 20px; color: black"><%= command.description %><br> <b>Usage : </b><span><u><u><%= command.usage %></u></span></td>
                </tr>
                <% }) %>                           
              </tbody>
          </table>
          <br><br>
<div class="text-light" style="background-color: black;" ><br><br><center><h1 >Config</h1></center><br><br></div> 

            <table class="table bg-light text-dark rounded border border-dark" style="border-color : black;">
              <thead class="thead text-center text-light mdb-color lighten-1 lighten-1">
                  <tr>
                    <th style="font-size: 20px; color: black" scope="col">Name</th>
                    <th style="font-size: 20px; color: black" scope="col">Informations</th>
                  </tr>
                </thead>
                <tbody>
                    <% client.commands.filter(c => c.type == "config").forEach(command => { %>
                  <tr class="text-center">
                      <td style="font-size: 20px; color: black"><%= command.name %></td>
                      <td style="font-size: 20px; color: black"><%= command.description %><br> <b>Usage : </b><span><u><%= command.usage %></u></span></td>
                  </tr>
                  <% }) %>                           
                </tbody>
            </table>
            <br><br>
<div class="text-light" style="background-color: black;" ><br><br><center><h1>Utilities</h1></center><br><br></div>
            <table class="table bg-light text-dark rounded border border-dark" style="border-color : black;">
                <thead class="thead text-center text-light mdb-color lighten-1 lighten-1">
                    <tr>
                      <th style="font-size: 20px; color: black" scope="col">Name</th>
                      <th style="font-size: 20px; color: black" scope="col">Informations</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% client.commands.filter(c => c.type == "util").forEach(command => { %>
                    <tr class="text-center">
                        <td style="font-size: 20px; color: black"><%= command.name %></td>
                        <td style="font-size: 20px; color: black"><%= command.description %><br> <b>Usage : </b><span><u><%= command.usage %></u></span></td>
                    </tr>
                    <% }) %> 
                  </tbody>  
                  </table>  
                    <br><br>
<div class="text-light" style="background-color: black;" ><br><br><center><h1>Tickets</h1></center><br><br></div>
            <table class="table bg-light text-dark rounded border border-dark" style="border-color : black;">
                <thead class="thead text-center text-light mdb-color lighten-1 lighten-1">
                    <tr>
                      <th style="font-size: 20px; color: black" scope="col">Name</th>
                      <th style="font-size: 20px; color: black" scope="col">Informations</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% client.commands.filter(c => c.type == "ticket").forEach(command => { %>
                    <tr class="text-center">
                        <td style="font-size: 20px; color: black"><%= command.name %></td>
                        <td style="font-size: 20px; color: black"><%= command.description %><br> <b>Usage : </b><span><u><%= command.usage %></u></span></td>
                    </tr>

                    <% }) %> 

                </tbody>    
                </table>                    
              <br><br>
<div class="text-light" style="background-color: black;" ><br><br><center><h1>Developper Only</h1></center><br><br></div>
      <table class="table bg-light text-dark rounded border border-dark" style="border-color : black;">
          <thead class="thead text-center text-light mdb-color lighten-1 lighten-1">
              <tr>
                <th style="font-size: 20px; color: black" scope="col">Name</th>
                <th style="font-size: 20px; color: black" scope="col">Informations</th>
              </tr>
            </thead>
            <tbody>
                <% client.commands.filter(c => c.type == "dev").forEach(command => { %>
              <tr class="text-center">
                  <td style="font-size: 20px; color: black"><%= command.name %></td>
                  <td style="font-size: 20px; color: black"><%= command.description %><br> <b>Usage : </b><span><u><%= command.usage %></u></span></td>
              </tr>
              <% }) %>                           
            </tbody>
        </table>
    </div>
    
   

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small"> &copy; <%=client.user.username%>  | <a href="https://github.com/Ghostfighter50/0x41">GitHub</a></p>
      </div>
    </footer>
    </body>
    </html>