<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="0x41's bot Dashboard !" >
    <meta name="author" content="Ghostfighter50">

    <title><%=client.user.username%> Settings</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
  </head>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/profile"><%=status%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <header class="masthead text-center text-white">
    <% if (message !== null) { %>
      <% if (message.type == "success") { %>
      <center>
        <div class="float-center alert alert-success alert-dismissible p-2" style="width: 70%;" role="alert"><span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <%= message.value %>
        </div>
      </center>
      <% } else { %>
        <center>
        <div class="float-center alert alert-danger alert-dismissible" style="width: 70%;" role="alert"><span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
          <%= message.value %>
      </div>
    </center>
      <% } %>
      <% } %>
    <div class="masthead-content">
          
              <%if (guild.icon) {%>
              <img src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>.png?size=128" class="client.user-avatar rounded-circle" width="150px" height="150px">
              <%}else{%>
              <canvas class="client.user-avatar rounded-circle" id="<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '') %>" width="150px" height="150px"></canvas>

              <script>
              function createIcone() {
                const nameAcronym = document.getElementById("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>").getContext('2d');
                  nameAcronym.font = '90px Arial';
                  nameAcronym.textAlign = "center";
                  nameAcronym.fillStyle = "white";
                  nameAcronym.fillText("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>", 75, 105);
              }
              createIcone();
              </script>
            <%}%>
            <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%=guild.name%></h3>

            <br/>
            <br/>
            <button type="button" class="btn1 btn" data-toggle="modal" data-target="#Channels">
              Edit Channels
            </button>
            <br/>
            <br/>
            <button type="button" class="btn1 btn" data-toggle="modal" data-target="#Roles">
              Edit Roles
            </button> 
            <br/>
            <br/>
            <button type="button" class="btn1 btn" data-toggle="modal" data-target="#Messages">
              Edit Messages
            </button>
            <br/>
            <br/>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Danger">
              Danger Zone
            </button>

          </div>
        </div>
      </header>

      <br/>
     
      <div class="modal fade" id="Messages">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h3 class="modal-title">Edit Messages</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                  <b>Join Message: </b> <br/>
                  <% if (config[guild.id].JoinMessage) { %>
                    <textarea value="<%= config[guild.id].JoinMessage%>" aria-valuemax="200" placeholder="Welcome {user} to {guild} !" class="form-control form-control-sm"id="JoinMessage" name='JoinMessage'><%= config[guild.id].JoinMessage %></textarea><br>
                    <% } else { %>
                    <textarea value="none" aria-valuemax="200" placeholder="Welcome {user} to {guild} !" class="form-control form-control-sm"id="JoinMessage" name='JoinMessage'></textarea><br>
                    <%} %>
                  <b>Leave Message: </b> <br/>
                  <% if (config[guild.id].LeaveMessage) { %>
                    <textarea value="<%= config[guild.id].LeaveMessage%>" aria-valuemax="200" placeholder="{user} left {guild} !" id="LeaveMessage" class="form-control form-control-sm" name='LeaveMessage'><%= config[guild.id].LeaveMessage%></textarea>
                  <% } else { %>
                  <textarea value="none" aria-valuemax="200" placeholder="{user} left {guild} !" id="LeaveMessage" class="form-control form-control-sm" name='LeaveMessage'></textarea>
                  <%} %>
                  <br>
                  <% if (config[guild.id].EmbedColor) { %>
                    <input type="color" name="EmbedColor" value="<%= config[guild.id].EmbedColor%>"> Embed Color
                  <% } else {%>
                  <input type="color" name="EmbedColor" value="none"> Embed Color
                  <% } %>
                  <button type="submit" class="btn btn-success float-right"  onclick="msg()"style="color: #363636 !important;border-color: #ced4da !important " data-dismiss="modal">Send</button>            

                  <br/>
            
       
            </div>
            
          </div>
        </div>
      </div>
      <div class="modal fade" id="Roles">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h3 class="modal-title">Edit Roles</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <form action="/servers/<%=guild.id%>/settings" method='post' id="rolesedit">
                  <h4 class="display-5">Verified Role</h4>
                  <b>Select a role: </b>
                  <select id="VerifiedRole" name="VerifiedRole" aria-controls="config" class="form-control form-control-sm" style="margin-bottom: 5px;">
                    <% guild.roles.cache.forEach(c => { %>
                    <option value="<%= c.id %>"  > @<%= c.name %></option>
                    <% }); %>
                    <% if (config[guild.id].VerifiedRole) { %>
                      <option value="<%= config[guild.id].VerifiedRole %>" selected><% let role = guild.roles.cache.find(c => c.id ==  config[guild.id].VerifiedRole); %><%= "@"+role.name %></option>
                    <% } else { %>
                    <option value="none" selected>None</option>
                    <%} %>   
                    </select>
                  <br> <br>
                  <h4 class="display-5">Unverified Role</h4>
                  <b>Select a role: </b>
                  <select id="UnverifiedRole" name="UnverifiedRole" aria-controls="config" class="form-control form-control-sm" style="margin-bottom: 5px;">
                    <% guild.roles.cache.forEach(c => { %>
                    <option value="<%= c.id %>"  >@<%= c.name %></option>
                    <% }); %>
                    
                    <% if (config[guild.id].UnverifiedRole) { %>
                      <option value="<%= config[guild.id].UnverifiedRole %>" selected><% let role = guild.roles.cache.find(c => c.id ==  config[guild.id].UnverifiedRole); %><%= "@"+role.name %></option>
                    <% } else { %>
                    <option value="none" selected>None</option>
                    <%} %>
                  </select>
                  <br> <br>
                    <h4 class="display-5">Add Auto-role</h4>
                    <b>Select a role: </b>
                    <select id="Autorole" name="Autorole" aria-controls="config" class="form-control form-control-sm" style="margin-bottom: 5px;">
                      <% guild.roles.cache.forEach(c => { %>
                      <option value="<%= c.id %>"  > @<%= c.name %></option>
                      <% }); %>
                      <option value="none" selected>None</option>
                  </select>
                  <br> <br>
                  <button type="submit" class="btn btn-success float-right"  onclick="editroles()"style="color: #363636 !important;border-color: #ced4da !important " data-dismiss="modal">Send</button>
              </form>
                 </div>
            
            
            </div>
            
          </div>
        </div>
      </div>
      <div class="modal fade" id="Channels">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h3 class="modal-title">Edit Channels</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h4 class="display-5">Report Channel</h4>
                <b>Select a channel: </b>
                <select id="ReportChannel" name="ReportChannel" aria-controls="config" class="form-control form-control-sm" style="margin-bottom: 5px;">
                  <% guild.channels.cache.filter(c => c.type === 'text').filter(c => c.permissionsFor(client.user)
    .has("SEND_MESSAGES") && c.permissionsFor(client.user)
    .has("READ_MESSAGES")).forEach(c => { %>
                  <option value="<%= c.id %>"  >#<%= c.name %></option>
                  <% }); %>
                  <% if (config[guild.id].ReportChannel) { %>
                      <option value="<%= config[guild.id].ReportChannel %>" selected><% let channel = guild.channels.cache.find(c => c.id ==  config[guild.id].ReportChannel); %><%= "#"+channel.name %></option>
                    <% } else { %>
                    <option value="none" selected>None</option>
                    <%} %>
                  </select>
                <br> <br>
                <h4 class="display-5">Welcome Channel</h4>
                <b>Select a channel: </b>
                <select id="WelcomeChannel" name="WelcomeChannel" aria-controls="config" class="form-control form-control-sm" style="margin-bottom: 5px;">
                  <% guild.channels.cache.filter(c => c.type === 'text').filter(c => c.permissionsFor(client.user)
    .has("SEND_MESSAGES") && c.permissionsFor(client.user)
    .has("READ_MESSAGES")).forEach(c => { %>
                  <option value="<%= c.id %>"  >#<%= c.name %></option>
                  <% }); %>
                  <% if (config[guild.id].WelcomeChannel) { %>
                      <option value="<%= config[guild.id].WelcomeChannel %>" selected><% let channel = guild.channels.cache.find(c => c.id ==  config[guild.id].WelcomeChannel); %><%= "#"+channel.name %></option>
                    <% } else { %>
                    <option value="none" selected>None</option>
                    <%} %>
                  </select>
                <br> <br>
                <h4 class="display-5">Skid Test Channel</h4>
                <b>Select a channel: </b>
                <select id="TestChannel" name="TestChannel" aria-controls="config" class="form-control form-control-sm" style="margin-bottom: 5px;">
                  <% guild.channels.cache.filter(c => c.type === 'text').filter(c => c.permissionsFor(client.user)
    .has("SEND_MESSAGES") && c.permissionsFor(client.user)
    .has("READ_MESSAGES")).forEach(c => { %>
                  <option value="<%= c.id %>"  >#<%= c.name %></option>
                  <% }); %>
                  <% if (config[guild.id].TestChannel) { %>
                      <option value="<%= config[guild.id].TestChannel %>" selected><% let channel = guild.channels.cache.find(c => c.id ==  config[guild.id].TestChannel); %><%= "#"+channel.name %></option>
                    <% } else { %>
                    <option value="none" selected>None</option>
                    <%} %>
                  </select>
                <button type="submit" class="btn btn-success float-right"  onclick="editchannels()"style="color: #363636 !important;border-color: #ced4da !important " data-dismiss="modal">Send</button>            </div>

                  <br/>
            </div>
           
            
          </div>
        </div>
        <div class="modal fade" id="Danger">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h3 class="modal-title">Danger Zone</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <% if (config[guild.id].Raidmode == true) {%>
                <input id="raid" type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs" checked>    <b>Raidmode</b><br>
              <%} else {%>
                <input id="raid" type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs">    <b>Raidmode</b><br>
              <%}%>
              <% if (config[guild.id].SkidVerification == true) {%>
                <input id="skid" type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs" checked>    <b>Skid Verification</b><br>
              <%} else {%>
                <input id="skid" type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs" >    <b>Skid Verification</b><br>
              <%}%>
              <% if (config[guild.id].JoinLogger == true) {%>
                <input id="logger"type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs" checked>    <b>Join Logger</b><br>
              <%} else {%>
                <input  id="logger" type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs" >    <b>Join Logger</b><br>
              <%}%>
              <% if (config[guild.id].Levels == true) {%>
                <input id="levels" type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs" checked>    <b>Leveling</b><br>
              <%} else {%>
                <input id="levels" type="checkbox" data-onstyle="success" data-toggle="switchbutton" data-size="xs" >    <b>Leveling</b><br>
              <%}%>
              <br><br>
              <form action="/servers/<%=guild.id%>/settings/clear/flags" method='post'><button class="btn btn-danger btn-sm" type="submit">Clear Flags</button></form><br>
              <form action="/servers/<%=guild.id%>/settings/clear/autoroles" method='post' ><button class="btn btn-danger btn-sm" type="submit">Clear Autoroles</button></form><br>
              <form action="/servers/<%=guild.id%>/settings/reset/" method='post'><button class="btn btn-danger btn-sm" type="submit">Reset Settings</button></form><br>

              <button type="submit" class="btn btn-secondary float-right"  onclick="danger()"style="color: #363636 !important;border-color: #ced4da !important " data-dismiss="modal">Send</button>            

                  <br/>
            
       
            </div>
            
          </div>
        </div>

    
    
    <script>
    function msg() {
      $.post("/servers/<%=guild.id%>/settings", {
        Levels : "<% config[guild.id].Levels%>",
        RaidMode : "<% config[guild.id].RaidMode%>",
        JoinLogger : "<% config[guild.id].JoinLogger%>",
        SkidVerification : "<% config[guild.id].SkidVerification%>",
        TestChannel : "<% config[guild.id].TestChannel%>",
        ReportChannel : "<% config[guild.id].ReportChannel%>",
        WelcomeChannel : "<% config[guild.id].WelcomeChannel%>",
        VerifiedRole : "<% config[guild.id].VerifiedRole%>",
        UnverifiedRole : "<% config[guild.id].UnverifiedRole%>",
        Autorole : null,
        JoinMessage : $("#JoinMessage").val(),
        LeaveMessage : $("#LeaveMessage").val(),
        EmbedColor : $("#EmbedColor").val()
      })

  }
      
    
    function editroles() {
      $.post("/servers/<%=guild.id%>/settings", {
        Levels : "<% config[guild.id].Levels%>",
        RaidMode : "<% config[guild.id].RaidMode%>",
        JoinLogger : "<% config[guild.id].JoinLogger%>",
        SkidVerification : "<% config[guild.id].JoinLogger%>",
        TestChannel : "<% config[guild.id].TestChannel%>",
        ReportChannel : "<% config[guild.id].ReportChannel%>",
        WelcomeChannel : "<% config[guild.id].WelcomeChannel%>",
        VerifiedRole : $("#VerifiedRole").val(),
        UnverifiedRole : $("#UnverifiedRole").val(),
        Autorole : $("#Autorole").val(),
        JoinMessage : "<% config[guild.id].JoinMessage%>",
        LeaveMessage : "<% config[guild.id].LeaveMessage%>",
        EmbedColor : "<% config[guild.id].EmbedColor%>"
      })    
    }  function editchannels() {
      $.post("/servers/<%=guild.id%>/settings", {
        Levels : "<% config[guild.id].Levels%>",
        RaidMode : "<% config[guild.id].RaidMode%>",
        JoinLogger : "<% config[guild.id].JoinLogger%>",
        SkidVerification : "<% config[guild.id].JoinLogger%>",
        TestChannel : $("#TestChannel").val(),
        ReportChannel : $("#ReportChannel").val(),
        WelcomeChannel :  $("#WelcomeChannel").val(),
        VerifiedRole : "<% config[guild.id].VerifiedRole%>",
        UnverifiedRole : "<% config[guild.id].UnverifiedRole%>",
        Autorole :null,
        JoinMessage : "<% config[guild.id].JoinMessage%>",
        LeaveMessage : "<% config[guild.id].LeaveMessage%>",
        EmbedColor : "<% config[guild.id].EmbedColor%>"
      })        }
    function danger(){
      var levelstatus =  $("#levels")[0].checked
      var raidstatus =  $("#raid")[0].checked
      var skidstatus =  $("#skid")[0].checked
      var joinstatus =  $("#logger")[0].checked
      $.post("/servers/<%=guild.id%>/settings", {
        Levels : levelstatus,
        RaidMode : raidstatus,
        JoinLogger : joinstatus,
        SkidVerification : skidstatus,
        TestChannel : "<% config[guild.id].TestChannel%>",
        ReportChannel : "<% config[guild.id].ReportChannel%>",
        WelcomeChannel : "<% config[guild.id].WelcomeChannel%>",
        VerifiedRole : "<% config[guild.id].VerifiedRole%>",
        UnverifiedRole : "<% config[guild.id].UnverifiedRole%>",
        Autorole : null,
        JoinMessage : "<% config[guild.id].JoinMessage%>",
        LeaveMessage : "<% config[guild.id].LeaveMessage%>",
        EmbedColor : "<% config[guild.id].EmbedColor%>"
        })

    }
    </script>


    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small"> &copy; <%=client.user.username%>  | <a href="https://github.com/Ghostfighter50/0x41">GitHub</a></p>
  </div>
</footer>
</html>